$font-size: 16px;

$color-primary: #3876cf;
$color-secondary: #f3a770;
$color-black: #000;
$color-dark-grey: grey;
$color-grey: #afafaf;
$color-light-grey: #DDD;
$color-white: #FFF;
$color-danger: red;
$color-orange: #e95c31;

$bg-primary: #3876cf;
$bg-light-grey: #fafafa;
$bg-grey: #DDD;
$bg-transparent: transparent;

$border-grey: #e9e9e9;
$border-light-grey: #e9e9e9;

$padding-default: 24px;
$margin-default: 24px;

